<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCore.WebApp</title>
    <link href="~/css/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/css/lightslider.css" rel="stylesheet" />
    <link href="~/css/css/1400.css" rel="stylesheet" />
    <link href="~/css/css/jquery-ui.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <a class="scrollup" href="#top"></a>
    <div class="box_header" id="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img class="img-responsive" src="~/images/logo_header.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <partial name="../Home/MenuBar.cshtml" />
                </div>
            </div>
        </nav>
    </div>
    <div class="noidung_site">
        <div class="advert_right" id="advert_right" style="position: fixed; left: 0px; z-index: 9; display: none">
            <button class="btn-adv-right">x</button>
            <img src="~/images/right.jpg" style="width: 100%" />
        </div>
        <div class="advert_left" style="position: fixed; right: 0px; z-index: 9; display: none">
            <button class="btn-adv-left">x</button>
            <img src="~/images/left.gif" style="width: 100%" />
        </div>
        <div class="container">

            @await Component.InvokeAsync("Advert")

            <div class="row">
                <div id="ContentSearch">
                    @RenderBody()
                </div>
                <div class="col-lg-4 col-md-4 col-sx-4 col-sm-12">

                    @await Component.InvokeAsync("Program")

                    @*<div class="box_gopy" id="gopy">
                            <span>gửi thư góp ý</span>
                            <ul>
                                <li><input type="text" id="Email" placeholder="Nhập email"></li>
                                <li><input type="text" id="Mobile" placeholder="Nhập số điện thoại" maxlength="15"></li>
                            </ul>
                            <textarea placeholder="Nhập nội dung" id="Content"></textarea>
                            <a href="javascript:;" onclick="SendSuggest()">Gửi góp ý</a>
                        </div>*@
                    <div style="margin-top: 10px">
                        <img src="~/images/pic7.jpg" style="max-width: 100%" />
                    </div>
                    @*<div style="margin-top: 10px">
                            <img src="~/images/pic8.jpg" style="max-width: 100%" />
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="box_footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                    <div class="box_left_footer">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12"><a href=""><img class="img-responsive" src="~/images/img_logo_footer.png" alt=""></a></div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-sm-12">
                                <span>Cổng thông tin điện tử nhân đạo quốc gia</span>
                                <p>Địa chỉ: tầng 17, Tòa nhà VTC, 23 Lạc Trung, Hai Bà Trưng, Hà Nội</p>
                                <ul>
                                    <li>Điện  thoại: 024.44501107</li>
                                    <li>Email: cong1400@vtc.vn</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                    <div class="box_right_footer">
                        <span>Đơn vị quản lý và vận hành:</span>
                        <p>
                            Tổng công ty Truyền thông đa phương tiện<br>
                            Cơ quan thuộc Bộ Thông tin và Truyền thông
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/utility.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    @*<script src="~/js/jquery.stickOnScroll.js"></script>*@

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
