<div class="tieude_noidung_trai">
    tin tức
    <partial name="../Home/MenuArticleHome" />
</div>
<div id="divLoadArticleByCate">
    @*@Html.Action("ArticleHomePartial", "Article", new { CateId = -1 })*@
</div>
<ul class="list_xemthem">
    <li><a href="#tin-tuc">Xem thêm</a></li>
</ul>