@model List<MenuModel>

<ul class="hidden-xs">
    <li><a href="#tin-tuc">tất cả</a></li>
    @if (Model != null && Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].MenuID != 1 && Model[i].MenuID != 2)
            {
                <li><a href="javascript:;" onclick="LoadArticleByCate(@Model[i].MenuID)">@Model[i].MenuName</a></li>
            }
        }
    }
</ul>
<script type="text/javascript">
    function LoadArticleByCate(CateId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ArticleHomePartial", "Article")',
            cache: false,
            data: {
                CateId:CateId
            },
            dataType: "html",
            success: function (data) {
                $("#divLoadArticleByCate").html(data);
            },
        });
    }
</script>
