@using NetCore.ViewModels
@model AdvertModel
@if (Model != null)
{
    if (Model.Type == 1)
    {
        if (Model.Id == 2 || Model.Id == 3)
        {
            <button class="btn-adv-right">x</button>
        }
        <a href="@Model.Link">
            <img src="@Model.Image" style="width: 100%" />
        </a>
    }
    else
    {
        @Html.Raw(Model.ScriptData)
    }

}