@using NetCore.ViewModels;
@using Lib;
@model List<ArticleModel>
@{
    var rw = new Nomark();
}

<div class="tieude_noidung">chương trình đang thực hiện</div>

@*<div class="tin-tuc-moi">
        <ul>
            <li><a href="#">Hỗ trợ phụ nữ biên cương phát triển kinh tế qua Cổng 1400</a></li>
            <li><a href="#">Kết thúc chương trình "Tết vì người nghèo và nạn nhân chất độc da cam" </a></li>
            <li><a href="#">Hỗ trợ phụ nữ biên cương phát triển kinh tế qua Cổng 1400</a></li>
        </ul>
    </div>*@
<div class="tin-tuc-moi">
    <ul>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var urlLink = rw.UrlReMark(item.Title.ToLower()) + "-post" + item.ArticleID.ToString();
                <li><a href="@urlLink">@item.Title</a></li>
            }
        }

    </ul>
</div>